/* * {
  font-family: sans-serif;
  box-sizing: border-box;
} */

body,
html {
  height: 100%;
}
.bg {
  background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0)), url(IMG_7854.JPG);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



a:hover {
  color: rgb(0, 96, 255);
}
