/* * {
  font-family: sans-serif;
  box-sizing: border-box;
} */

body,
html {
  height: 100%;
}
.bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9)), url(IMG_7854.JPG);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jobs a {
  width: 270px;
  line-height: 2em;
  display: inline-flex;
  background: rgba(255, 255, 255, 0.1);
}

.likes > li {
  line-height: 2em;
}

a:hover {
  color: rgb(0, 96, 255);
}
