* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  color: black;
}
body::after {
  /* background image */
  content: '';
  background: url(https://lh3.googleusercontent.com/dZ3IwFAITgW_pkiqqpC9kbnxGcL7GnKK79yFQnDX8yJ759tzIwHwIpWpn6oCUPbiPJz52-JeOVcqC_zXkwDJ_n_qj2t--0mTlpuchT_29DqBQ0One2M2jQfLo8IKmr2bBT93xVh559o=w1034-h775-no);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  background-size: cover;
}
/* nav li {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  width: 200px;
  background-color: green;
}
nav a {
  padding: 5px;
  display: block;
  background-color: #f1f1f1;
  text-decoration: none;
}
nav a:hover {
  background-color: #bbb;
} */
h1,
h2,
h3 {
  font-family: cursive;
}

.jobs a {
  width: 270px;
  line-height: 2em;
  display: inline-flex;
  background: rgba(255, 255, 255, 0.1);
}

.likes > li {
  line-height: 2em;
}

a:hover {
  color: rgb(0, 96, 255);
}

#content {
  min-height: 100%;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}

.images {
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
}

.images a {
  margin: 5px;
}

.images a:hover {
  opacity: 0.6;
}

footer {
  font-family: cursive;
  position: relative;
  padding: 10px;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(200, 200, 200, 0.5);
}
