
 body, html {
  height: 100%;
}
.bg {
  background-image: linear-gradient(rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7)), url(IMG_7854.JPG);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 .images {
  overflow: auto;
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
 }
.images a {
  margin: 5px;
}
.images a:hover {
  opacity: 0.6;
}
.images img {
  width: 100px;
  height: 100%;
  display:block;
  object-fit: cover;
}

.cookie {
   /* prevent photos overlapped by footer and unable to click on iPhone */
   margin-bottom: 60px;
}