/* * {
  box-sizing: border-box;
} */


 body, html {
  height: 100%;
}
.bg {
  background-image: linear-gradient(rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7)), url(IMG_7854.JPG);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -2; */
}

.projects {
   /* prevent the last link overlapped by footer and unable to click on iPhone */
   padding-bottom: 50px; 
}
